.App-header {
  background-color: #282c34;
  min-height: 20px;
  display: block;
  font-size: 18px;
  color: gold;
  margin-top: 0;
  padding-left: 5px;
}

.App-header h1 {
  display: inline-block;
  min-width: 400px;
}

.App-header .header-buttons {
  display: inline-flex;
  flex-direction: row;
  position: absolute;
  top: 15px;
  right: 10px;
}
a {
  color: #61dafb;
}

button {
  cursor: pointer;
}

.playButton, .stopButton {
  color: black;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

  font-size: 14px;
  border-radius: 10px;
  text-align: center;

  text-decoration: none;
  cursor: pointer;
}

.playButton {
  background-color: forestgreen;
  border-color: darkgreen;
  font-size: 24px;
}
.stopButton {
  font-size: 10px;
  padding: 10px;
}

button:disabled {
  color: #ccc;
  background-color: #666;
  border-color: #999;
  cursor: not-allowed;
}